.logo{
    width: 200px;
    height: 200px;
}
header{
    background-image:url("./img/pattern.png");
    background-color: rgb(67, 67, 240);
}
.azzurro{
    color: rgb(24, 145, 189);
}
.grandezza{
    font-size: 20px;
}
.sottolineato{
    background-color: yellow;
}
thead{
background-color: blue;
}
.azzur{
    background-color: rgb(57, 200, 228);
}
.gray{
    color: gray;
}
imm{
    border: 20px;
}