.logo{
    width: 200px;
    height: 200px;
}
.header{
    background-image:C:\Users\Utente\Documents\boolean\29.8\html-css-booleaner\img\pattern.png;
}
.azzurro{
    color: rgb(24, 145, 189);
}
.grandezza{
    font-size: 20px;
}
.sottolineato{
    background-color: yellow;
}
.thead{
background-color: blue;

}
.azzur{
    background-color: rgb(57, 200, 228);
}